@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../fonts/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"), url("../fonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../fonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 124px;
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 27px 4vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
@media (max-width: 1150px) {
  .header__body {
    position: fixed;
    width: 100%;
    z-index: 50;
  }
}
.header__logo {
  position: relative;
  z-index: 4;
  margin: 0px 60px 0px 0px;
}
.header__logo img {
  width: 100%;
  min-width: 70px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 4;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
}
@media (max-width: 1150px) {
  .header__list {
    position: fixed;
    display: block;
    top: -70%;
    left: 0;
    z-index: 3;
    background-color: #fff;
    width: 100%;
    height: 70%;
    padding: 146px 10px 20px 38px;
    overflow: auto;
  }
  .header__list._active {
    top: 0;
  }
}
.header__item {
  margin: 0px 45px 0px 0px;
}
@media (max-width: 1150px) {
  .header__item {
    margin: 0px 0px 45px 0px;
  }
}
.header__link {
  position: relative;
  color: #292D32;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #292D32;
  width: 0%;
  height: 1px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__link:hover::before {
  width: 100%;
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}
.header__submenu {
  position: absolute;
  top: calc(100% + 26px);
  left: -61%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
}
.header__submenu._active {
  opacity: 1;
  visibility: visible;
}
.header__submenu::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -9px;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}
.header__sublist {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px #d1d1d1;
          box-shadow: 0 0 5px #d1d1d1;
  overflow: hidden;
}
.header__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__subitem img {
  margin: 0px 0px 0px 30px;
}
.header__subitem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
}
.header__subitem:hover {
  background-color: #F9F9F9;
}
.header__sublink {
  display: block;
  color: #000000;
  width: 100%;
  padding: 20px 100px 20px 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.header__burger {
  position: relative;
  display: none;
  z-index: 4;
  background-color: #F9F9F9;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  background-color: #292D32;
  left: 25%;
  width: 50%;
  height: 2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__burger span {
  position: absolute;
  background-color: #292D32;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__burger::before {
  top: 30%;
}
.header__burger::after {
  bottom: 30%;
}
.header__burger._active span {
  opacity: 0;
  visibility: hidden;
}
.header__burger._active::before {
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger._active::after {
  bottom: 48%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 1150px) {
  .header__burger {
    display: block;
  }
}

.profile__item {
  margin: 0px 30px 0px 0px;
  cursor: pointer;
}
.profile__item_menu:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}
.profile__item:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .profile__item:last-child {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 1150px) {
  .profile__item:nth-child(2), .profile__item:nth-child(3) {
    display: none;
  }
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292D32;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link img {
  margin: 0px 12px 0px 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.link img:hover {
  -webkit-transform: translate(7px, 0%);
          transform: translate(7px, 0%);
}

.slider__block {
  background-color: #F2F2F2;
  overflow: hidden;
  margin: 0px 0px 154px 0px;
}
@media (max-width: 500px) {
  .slider__block {
    margin: 0px 0px 40px 0px;
  }
}
.slider__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 74px 4vw 54px 4vw;
}
.slider__body::before {
  content: url(../img/background/dell.png);
  position: absolute;
  top: 74px;
  left: 0;
}
@media (max-width: 1150px) {
  .slider__body::before {
    top: 94px;
    left: -40%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.slider__body::after {
  content: url(../img/background/notebook.png);
  position: absolute;
  top: -35.7%;
  right: -28%;
}
@media (max-width: 1150px) {
  .slider__body::after {
    content: url(../img/background/notebook-small.png);
    top: 80%;
    right: 10%;
  }
}
@media (max-width: 1150px) {
  .slider__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 154px 4vw 54px 4vw;
  }
}
.slider__beforecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25px;
  margin: 0px 105px 0px 0px;
  padding: 256px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .slider__beforecontent {
    display: none;
  }
}
.slider__content {
  position: relative;
  z-index: 2;
  max-width: 446px;
  margin: 0px 42px 0px 0px;
  padding: 156px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .slider__content {
    padding: 80px 0px 0px 0px;
  }
}
.slider__pretitle {
  color: #838383;
  margin: 0px 0px 15px 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 1150px) {
  .slider__pretitle {
    margin: 0px 0px 5px 0px;
    font-size: 15px;
  }
}
.slider__title {
  color: #292D32;
  margin: 0px 0px 60px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
}
@media (max-width: 1150px) {
  .slider__title {
    margin: 0px 0px 28px 0px;
    font-size: 30px;
  }
}
.slider__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292D32;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__products {
  position: relative;
  margin: 0px 100px 0px 0px;
  max-width: 557px;
}
@media (max-width: 1150px) {
  .slider__products {
    margin: 0px 0px 0px 0px;
  }
}
.slider__aftercontent {
  position: relative;
  z-index: 2;
  padding: 224px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .slider__aftercontent {
    max-width: 136px;
    padding: 59px 0px 0px 0px;
  }
}

.beforecontent__text {
  color: #838383;
  margin: 0px 0px 16px 0px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
.beforecontent__link img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.beforecontent__link img:hover {
  -webkit-transform: translate(0px, 7px);
          transform: translate(0px, 7px);
}

.swiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 24% !important;
  left: 65% !important;
  width: 50% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper .swiper-pagination-bullet {
  background-color: #D0D0D0;
  width: 6px;
  height: 6px;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #292D32;
  width: 10px;
  height: 10px;
}

.aftercontent__text {
  color: #292D32;
  margin: 0px 0px 82px 0px;
  font-size: 25px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 1150px) {
  .aftercontent__text {
    margin: 0px 0px 42px 0px;
  }
}
.aftercontent__link img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.aftercontent__link img:hover {
  -webkit-transform: translate(7px, 0px);
          transform: translate(7px, 0px);
}

.catalog__block {
  margin: 0px 0px 180px 0px;
}
@media (max-width: 500px) {
  .catalog__block {
    margin: 0px 0px 40px 0px;
  }
}
.catalog__body {
  max-width: calc(1400px + 8vw);
  margin: -20px auto;
  padding: 0px 4vw;
}
.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1150px) {
  .catalog__row {
    margin: -10px 0;
    padding: 10px 0;
  }
}
.catalog__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333333333%;
          flex: 1 1 33.3333333333%;
  padding: 0 20px;
}
@media (max-width: 1150px) {
  .catalog__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 10px 20px;
  }
}
.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  min-height: 371px;
  border-radius: 20px;
  padding: 0px 0px 40px 40px;
}
.catalog__item_first {
  background-color: #fff;
}
@media (max-width: 1150px) {
  .catalog__item {
    min-height: 271px;
    padding: 0px 0px 20px 20px;
  }
}
.catalog__title {
  color: #292D32;
  margin: 0px 0px 29px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1150px) {
  .catalog__title {
    font-size: 30px;
  }
}
.catalog__description {
  color: #838383;
  margin: 0px 0px 46px 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}
@media (max-width: 1150px) {
  .catalog__description {
    font-size: 15px;
  }
}
.catalog__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292D32;
  font-size: 16px;
  font-weight: 400;
  line-height: 188%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.catalog__item-img img {
  width: 100%;
  max-width: 270px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.catalog__item-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.catalog__item-amount {
  color: #838383;
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.catalog__item-name {
  color: #292D32;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
}

.advantages__block {
  position: relative;
  background-color: #F2F2F2;
  margin: 0px 0px 159px 0px;
  padding: 87px 0 46px 0;
}
.advantages__block::before {
  content: url("../img/background/best-quality.png");
  position: absolute;
  top: 152px;
  left: 10px;
}
@media (max-width: 500px) {
  .advantages__block {
    margin: 0px 0px 40px 0px;
  }
}
.advantages__body {
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 0px 4vw;
}
.advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 492px;
  margin: 0px 0px 48px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages__img {
  position: relative;
  z-index: 2;
  max-width: 874px;
}
.advantages__img img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.advantages__img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.advantages__content {
  position: relative;
  z-index: 2;
  max-width: 518px;
  padding: 97px 0px 0px 0px;
}
.advantages__title {
  color: #292D32;
  margin: 0px 0px 37px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1150px) {
  .advantages__title {
    font-size: 30px;
  }
}
.advantages__subtitle {
  color: #838383;
  margin: 0px 0px 41px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 1150px) {
  .advantages__subtitle {
    font-size: 15px;
  }
}
.advantages__row {
  margin: 0px -13.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1150px) {
  .advantages__row {
    margin: -10px 0;
  }
}
.advantages__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 13.5px;
}
@media (max-width: 1150px) {
  .advantages__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 10px 0;
  }
}
.advantages__item {
  background: url("../img/advantages/card-background.png");
  max-height: 289px;
  padding: 30px 24px 35px 30px;
  border-radius: 18px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.advantages__item:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.advantages__item-img {
  background-color: #343A41;
  width: 70px;
  height: 70px;
  margin: 0px 0px 25px 0px;
  border-radius: 10px;
}
.advantages__item-img img {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.advantages__item-title {
  color: #FFFFFF;
  margin: 0px 0px 13px 0px;
  font-family: "Euclid Circular A";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}
.advantages__item-desription {
  color: #B7B7B7;
  font-family: "Euclid Circular A";
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.news__block {
  margin: 0px 0px 180px 0px;
}
@media (max-width: 500px) {
  .news__block {
    margin: 0px 0px 40px 0px;
  }
}
.news__body {
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 0px 4vw;
}
.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 70px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news__title {
  color: #292D32;
  margin: 0px 0px 25px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
}
@media (max-width: 1150px) {
  .news__title {
    font-size: 30px;
  }
}
.news__subtitle {
  color: #838383;
  max-width: 721px;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}
@media (max-width: 1150px) {
  .news__subtitle {
    font-size: 15px;
    margin: 0px 0px 10px 0px;
  }
}
.news__link img {
  margin: 0px 0px 0px 12px;
}
.news__cards {
  margin: -20px 0;
}
.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -32.5px;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.news__row:last-child {
  padding: 20px 0px 0px 0px;
}
@media (max-width: 1150px) {
  .news__row:last-child {
    padding: 0 40px;
  }
}
@media (max-width: 1150px) {
  .news__row {
    padding: 0 40px;
  }
}
.news__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333333333%;
          flex: 1 1 33.3333333333%;
  padding: 0 32.5px;
  -webkit-box-shadow: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
          box-shadow: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}
@media (max-width: 1150px) {
  .news__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 10px 0;
  }
}
.news__item {
  background-color: #fff;
  max-width: 415px;
  border-radius: 45px 0px 45px 0px;
  overflow: hidden;
}
@media (max-width: 1150px) {
  .news__item {
    max-width: 600px;
  }
}
.news__item-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.news__item-img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.news__item-text {
  position: relative;
}
.news__item-text::before {
  content: url(../img/news/news-item-background.png);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.news__item-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292D32;
  z-index: 2;
  margin: 0px 0px 11px 0px;
  padding: 0px 18px 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  font-size: 25px;
  font-weight: 700;
  line-height: 130%;
}
.news__item-title span {
  max-width: 188px;
}
.news__item-link {
  position: relative;
  z-index: 2;
}
.news__item-description {
  position: relative;
  z-index: 2;
  padding: 0px 0px 0px 30px;
  -webkit-transform: translate(0px, -150%);
          transform: translate(0px, -150%);
}
@media (max-width: 1150px) {
  .news__item-description {
    -webkit-transform: translate(0px, -125%);
            transform: translate(0px, -125%);
  }
}
.news__item-date {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  top: 50%;
  right: 0;
  width: 50px;
  height: 97px;
  -webkit-box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  -webkit-transform: translate(-30%, -100%);
          transform: translate(-30%, -100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1150px) {
  .news__item-date {
    -webkit-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
  }
}

.date__number {
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}
.contacts__block {
  position: relative;
  padding: 0px 0px 167px 0px;
}
@media (max-width: 500px) {
  .contacts__block {
    padding: 0px 0px 40px 0px;
  }
}
.contacts__block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F1F1F1;
  width: 100%;
  height: 100%;
  max-height: 646px;
}
.contacts__block::after {
  content: url(../img/background/our-contacts.png);
  position: absolute;
  bottom: 0;
  left: 0;
}
.contacts__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 0px 4vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1150px) {
  .contacts__body {
    padding: 0;
  }
}
.contacts__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  background-color: #F9F9F9;
  padding: 100px 164px 111px 101px;
}
.contacts__menu::after {
  content: url(../img/contacts/phone.png);
  position: absolute;
  top: 20%;
  right: -10%;
}
@media (max-width: 1150px) {
  .contacts__menu::after {
    content: url(../img/contacts/phone-small.png);
    top: 80%;
    right: 5%;
  }
}
@media (max-width: 1150px) {
  .contacts__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 100px 30px 111px 30px;
  }
}
.contacts__title {
  color: #292D32;
  margin: 0px 0px 18px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1150px) {
  .contacts__title {
    font-size: 30px;
    white-space: nowrap;
  }
}
.contacts__sutitle {
  color: #838383;
  margin: 0px 0px 52px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 47px 0px;
}
.contacts__item:last-child {
  margin: 0px 0px 60px 0px;
}
.contacts__item-img {
  margin: 0px 23px 0px 0px;
}
.contacts__item-img img {
  width: 100%;
}
.contacts__item-title {
  color: #838383;
  margin: 0px 0px 8px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.contacts__item-description {
  color: #292D32;
  max-width: 358px;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 1150px) {
  .contacts__item-description {
    font-size: 18px;
  }
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__social-item {
  margin: 0px 18px 0px 0px;
}
.contacts__bid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background-color: #292D32;
  padding: 100px 137px 103px 129px;
}
@media (max-width: 1150px) {
  .contacts__bid {
    padding: 100px 30px 103px 30px;
  }
}

.bid__title {
  color: #FFFFFF;
  margin: 0px 0px 18px 0px;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
}
.bid__subtitle {
  color: #FFFFFF;
  margin: 0px 0px 53px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.bid__form-item {
  position: relative;
  margin: 0px 0px 40px 0px;
}
.bid__form-item:last-child {
  margin: 0px 0px 57px 0px;
}
.bid__form-label {
  display: block;
  position: absolute;
  color: #F2F2F2;
  background-color: #292D32;
  top: 0;
  left: 27px;
  z-index: 2;
  padding: 0 12px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.bid__form-input {
  color: #F2F2F2;
  background-color: #292D32;
  width: 100%;
  min-height: 60px;
  padding: 0px 0px 0px 23px;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.bid__form-input::-webkit-outer-spin-button, .bid__form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.bid__form-input[type=number] {
  -moz-appearance: textfield;
}
.bid__form-textarea {
  color: #F2F2F2;
  background-color: #292D32;
  width: 100%;
  min-height: 145px;
  padding: 12px 0px 0px 23px;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.bid__link {
  color: #fff;
}

.footer {
  position: relative;
}
.footer::before {
  content: url(../img/background/dell-small.png);
  position: absolute;
  bottom: 31%;
  right: 0;
}
@media (max-width: 1150px) {
  .footer::before {
    bottom: 0;
    right: -27%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.footer__body {
  max-width: calc(1400px + 8vw);
  margin: 0 auto;
  padding: 60px 4vw 40px 4vw;
}
.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 60px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}
@media (max-width: 1150px) {
  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  margin: 0px 190px 0px 0px;
}
@media (max-width: 1150px) {
  .footer__logo {
    margin: 0px 0px 28px 0px;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1150px) {
  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.footer__item {
  margin: 0px 180px 0px 0px;
}
@media (max-width: 1150px) {
  .footer__item {
    margin: 0px 20px 20px 0px;
  }
}
.footer__subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__title {
  color: #292D32;
  margin: 0px 0px 15px 0px;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
}
.item__item {
  margin: 0px 0px 10px 0px;
}
.item__item:last-child {
  margin: 0px 0px 0px 0px;
}
.item__link {
  color: #292D32;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.subcontent__item {
  margin: 0px 0px 20px 0px;
}
.subcontent__item_social img:first-child {
  margin: 0px 18px 0px 0px;
}
@media (max-width: 1150px) {
  .subcontent__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.subcontent__item-title {
  color: #838383;
  margin: 0px 0px 11px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 133.69%;
}
@media (max-width: 1150px) {
  .subcontent__item-title {
    margin: 0px 0px 0px 0px;
  }
}
.subcontent__item-text {
  color: #292D32;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}