@import "nullstyle.scss";
@import "fonts.scss";

body {
    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.header {

    &__body {
        position: relative;
        display: flex;
        max-height: 124px;
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 27px 4vw;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            background-color: #fff;
            width: 100%;
            height: 100%;
        }

        @media (max-width:1150px) {
            position: fixed;
            width: 100%;
            z-index: 50;
        }
    }

    &__logo {
        position: relative;
        z-index: 4;
        margin: 0px 60px 0px 0px;

        img {
            width: 100%;
            min-width: 70px;
        }
    }

    &__content {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    &__menu {}

    &__list {
        position: relative;
        display: flex;
        z-index: 4;
        height: 100%;
        align-items: center;
        transition: 0.75s ease;

        @media (max-width:1150px) {
            position: fixed;
            display: block;
            top: -70%;
            left: 0;
            z-index: 3;
            background-color: #fff;
            width: 100%;
            height: 70%;
            padding: 146px 10px 20px 38px;
            overflow: auto;

            &._active {
                top: 0;
            }
        }
    }

    &__item {
        margin: 0px 45px 0px 0px;

        @media (max-width:1150px) {
            margin: 0px 0px 45px 0px;
        }
    }

    &__link {
        color: #292D32;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
    }

    &__profile {
        display: flex;
        position: relative;
        z-index: 4;
    }

    &__submenu {
        position: absolute;
        top: calc(100% + 26px);
        left: -61%;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.75s ease;

        &._active {
            opacity: 1;
            visibility: visible;
        }

        &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            top: -9px;
            left: 50%;
            background-color: #fff;
            transform: translate(-50%, 0%) rotate(45deg);
        }
    }

    &__sublist {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 5px #d1d1d1;
        overflow: hidden;
    }

    &__subitem {
        display: flex;
        position: relative;
        transition: 0.5s ease;

        img {
            margin: 0px 0px 0px 30px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #F2F2F2;
        }

        &:hover {
            background-color: #F9F9F9;
        }
    }

    &__sublink {
        display: block;
        color: #000000;
        width: 100%;
        padding: 20px 100px 20px 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
    }

    &__burger {
        position: relative;
        display: none;
        z-index: 4;
        background-color: #F9F9F9;
        width: 46px;
        height: 46px;
        border-radius: 50%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #292D32;
            left: 25%;
            width: 50%;
            height: 2px;
            transition: 0.5s ease;
        }

        span {
            position: absolute;
            background-color: #292D32;
            top: 50%;
            left: 25%;
            width: 50%;
            height: 2px;
            transform: translate(0px, -50%);
            transition: 0.5s ease;
        }

        &::before {
            top: 30%;
        }

        &::after {
            bottom: 30%;
        }

        &._active span {
            opacity: 0;
            visibility: hidden;
        }

        &._active::before {
            top: 48%;
            transform: rotate(45deg);
        }

        &._active::after {
            bottom: 48%;
            transform: rotate(-45deg);
        }

        @media (max-width:1150px) {
            display: block;
        }
    }
}

.profile {

    &__item {
        margin: 0px 30px 0px 0px;

        &_menu {
            &:hover {
                .header__submenu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:last-child {
            margin: 0px 0px 0px 0px;

            @media (max-width:1150px) {
                margin: 0px 30px 0px 0px;
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            @media (max-width:1150px) {
                display: none;
            }
        }
    }
}

.link {
    display: flex;
    color: #292D32;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    align-items: center;

    img {
        margin: 0px 12px 0px 0px;
        transition: 0.5s ease;

        &:hover {
            transform: translate(7px, 0%);
        }
    }
}

.slider {

    &__block {
        background-color: #F2F2F2;
        overflow: hidden;
        margin: 0px 0px 154px 0px;
    }

    &__body {
        position: relative;
        display: flex;
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 74px 4vw 54px 4vw;

        &::before {
            content: url(../img/background/dell.png);
            position: absolute;
            top: 74px;
            left: 0;

            @media (max-width:1150px) {
                top: 94px;
                left: -40%;
                transform: scale(0.5);
            }
        }

        &::after {
            content: url(../img/background/notebook.png);
            position: absolute;
            top: -35.7%;
            right: -28%;

            @media (max-width:1150px) {
                content: url(../img/background/notebook-small.png);
                top: 80%;
                right: 10%;
            }
        }

        @media (max-width:1150px) {
            flex-wrap: wrap;
            padding: 154px 4vw 54px 4vw;
        }
    }

    &__beforecontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 25px;
        margin: 0px 105px 0px 0px;
        padding: 256px 0px 0px 0px;

        @media (max-width:1150px) {
            display: none;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 446px;
        margin: 0px 42px 0px 0px;
        padding: 156px 0px 0px 0px;

        @media (max-width:1150px) {
            padding: 80px 0px 0px 0px;
        }
    }

    &__pretitle {
        color: #838383;
        margin: 0px 0px 15px 0px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;

        @media (max-width:1150px) {
            margin: 0px 0px 5px 0px;
            font-size: 15px;
        }
    }

    &__title {
        color: #292D32;
        margin: 0px 0px 60px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 59px;

        @media (max-width:1150px) {
            margin: 0px 0px 28px 0px;
            font-size: 30px;
        }
    }

    &__subtitle {
        display: flex;
        color: #292D32;
        font-size: 16px;
        font-weight: 400;
        line-height: 188%;
        align-items: center;
    }

    &__link {}

    &__products {
        position: relative;
        margin: 0px 100px 0px 0px;
        max-width: 557px;

        @media (max-width:1150px) {
            margin: 0px 0px 0px 0px;
        }
    }

    &__aftercontent {
        position: relative;
        z-index: 2;
        padding: 224px 0px 0px 0px;

        @media (max-width:1150px) {
            max-width: 136px;
            padding: 59px 0px 0px 0px;
        }
    }
}

.beforecontent {

    &__text {
        color: #838383;
        margin: 0px 0px 16px 0px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }

    &__link {
        img {
            transition: 0.5s ease;

            &:hover {
                transform: translate(0px, 7px);
            }
        }
    }
}

.swiper {
    .swiper-pagination {
        display: flex;
        position: absolute;
        bottom: 24% !important;
        left: 65% !important;
        width: 50% !important;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        background-color: #D0D0D0;
        width: 6px;
        height: 6px;
    }

    .swiper-pagination-bullet-active {
        background-color: #292D32;
        width: 10px;
        height: 10px;
    }
}

.aftercontent {
    &__text {
        color: #292D32;
        margin: 0px 0px 82px 0px;
        font-size: 25px;
        font-weight: 400;
        line-height: 130%;

        @media (max-width:1150px) {
            margin: 0px 0px 42px 0px;
        }
    }

    &__link {
        img {
            transition: 0.5s ease;

            &:hover {
                transform: translate(7px, 0px);
            }
        }
    }
}

.catalog {

    &__block {
        margin: 0px 0px 180px 0px;
    }

    &__body {
        max-width: calc(1400px + 2 * 4vw);
        margin: -20px auto;
        padding: 0px 4vw;
    }

    &__row {
        display: flex;
        margin: 0 -20px;
        padding: 20px 0;
        flex-wrap: wrap;

        @media (max-width:1150px) {
            margin: -10px 0;
            padding: 10px 0;
        }
    }

    &__column {
        flex: 1 1 1/3*100%;
        padding: 0 20px;

        @media (max-width:1150px) {
            flex: 1 1 100%;
            padding: 10px 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: #F2F2F2;
        min-height: 371px;
        border-radius: 20px;
        padding: 0px 0px 40px 40px;

        &_first {
            background-color: #fff;
        }

        @media (max-width:1150px) {
            min-height: 271px;
            padding: 0px 0px 20px 20px;
        }
    }

    &__title {
        color: #292D32;
        margin: 0px 0px 29px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 100%;

        @media (max-width:1150px) {
            font-size: 30px;
        }
    }

    &__description {
        color: #838383;
        margin: 0px 0px 46px 0px;
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;

        @media (max-width:1150px) {
            font-size: 15px;
        }
    }

    &__subtitle {
        display: flex;
        color: #292D32;
        font-size: 16px;
        font-weight: 400;
        line-height: 188%;
        align-items: center;
    }

    &__link {}

    &__item-img {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
            max-width: 270px;
            transition: 0.5s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__item-amount {
        color: #838383;
        margin: 0px 0px 5px 0px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }

    &__item-name {
        color: #292D32;
        font-size: 25px;
        font-weight: 400;
        line-height: 150%;
    }
}

.advantages {

    &__block {
        position: relative;
        background-color: #F2F2F2;
        margin: 0px 0px 159px 0px;
        padding: 87px 0 46px 0;

        &::before {
            content: url('../img/background/best-quality.png');
            position: absolute;
            top: 152px;
            left: 10px;
        }
    }

    &__body {
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 0px 4vw;
    }

    &__header {
        display: flex;
        min-height: 492px;
        margin: 0px 0px 48px 0px;
        flex-wrap: wrap;
    }

    &__img {
        position: relative;
        z-index: 2;
        max-width: 874px;

        img {
            width: 100%;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: 518px;
        padding: 97px 0px 0px 0px;
    }

    &__title {
        color: #292D32;
        margin: 0px 0px 37px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 100%;

        @media (max-width:1150px) {
            font-size: 30px;
        }
    }

    &__subtitle {
        color: #838383;
        margin: 0px 0px 41px 0px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;

        @media (max-width:1150px) {
            font-size: 15px;
        }
    }

    &__link {}

    &__cards {}

    &__row {
        margin: 0px -13.5px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:1150px) {
            margin: -10px 0;
        }
    }

    &__column {
        flex: 1 1 25%;
        padding: 0px 13.5px;

        @media (max-width:1150px) {
            flex: 1 1 100%;
            padding: 10px 0;
        }
    }

    &__item {
        background: url('../img/advantages/card-background.png');
        max-height: 289px;
        padding: 30px 24px 35px 30px;
        border-radius: 18px;
        transition: 0.5s ease;

        &:hover {
            transform: scale(1.025);
        }
    }

    &__item-img {
        background-color: #343A41;
        width: 70px;
        height: 70px;
        margin: 0px 0px 25px 0px;
        border-radius: 10px;

        img {
            position: relative;
            top: 50%;
            left: 50%;
            max-width: 100%;
            transform: translate(-50%, -50%);
        }

    }

    &__item-title {
        color: #FFFFFF;
        margin: 0px 0px 13px 0px;
        font-family: 'Euclid Circular A';
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
    }

    &__item-desription {
        color: #B7B7B7;
        font-family: 'Euclid Circular A';
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }
}

.news {

    &__block {
        margin: 0px 0px 180px 0px;
    }

    &__body {
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 0px 4vw;
    }

    &__header {
        display: flex;
        margin: 0px 0px 70px 0px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__content {}

    &__title {
        color: #292D32;
        margin: 0px 0px 25px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 59px;

        @media (max-width:1150px) {
            font-size: 30px;
        }
    }

    &__subtitle {
        color: #838383;
        max-width: 721px;
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;

        @media (max-width:1150px) {
            font-size: 15px;
            margin: 0px 0px 10px 0px;
        }
    }

    &__link {
        img {
            margin: 0px 0px 0px 12px;
        }
    }

    &__cards {
        margin: -20px 0;
    }

    &__row {
        display: flex;
        margin: 0 -32.5px;
        padding: 20px 0;
        flex-wrap: wrap;

        &:last-child {
            padding: 20px 0px 0px 0px;

            @media (max-width:1150px) {
                padding: 0 40px;
            }
        }

        @media (max-width:1150px) {
            padding: 0 40px;
        }
    }

    &__column {
        position: relative;
        flex: 1 1 1/3*100%;
        padding: 0 32.5px;
        box-shadow: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));

        @media (max-width:1150px) {
            flex: 1 1 100%;
            padding: 10px 0;
        }
    }

    &__item {
        background-color: #fff;
        max-width: 415px;
        border-radius: 45px 0px 45px 0px;
        overflow: hidden;

        @media (max-width:1150px) {
            max-width: 600px;
        }
    }

    &__item-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__item-text {
        position: relative;

        &::before {
            content: url(../img/news/news-item-background.png);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__item-title {
        position: relative;
        display: flex;
        color: #292D32;
        z-index: 2;
        margin: 0px 0px 11px 0px;
        padding: 0px 18px 0px 30px;
        align-items: center;
        justify-content: space-between;
        transform: translate(0px, -50%);

        font-size: 25px;
        font-weight: 700;
        line-height: 130%;

        span {
            max-width: 188px;
        }
    }

    &__item-link {
        position: relative;
        z-index: 2;
    }

    &__item-description {
        position: relative;
        z-index: 2;
        padding: 0px 0px 0px 30px;
        transform: translate(0px, -150%);
    }

    &__item-date {
        position: absolute;
        display: flex;
        background-color: #fff;
        top: 50%;
        right: 0;
        width: 50px;
        height: 97px;
        box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
        border-radius: 15px;
        transform: translate(-30%, -100%);

        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width:1150px) {
            transform: translate(50%, -100%);
        }
    }
}

.date {

    &__number {
        margin: 0px 0px 10px 0px;
        font-size: 20px;
        font-weight: 900;
        line-height: 23px;
    }

    &__month {}
}

.contacts {

    &__block {
        position: relative;
        padding: 0px 0px 167px 0px;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #F1F1F1;
            width: 100%;
            height: 100%;
            max-height: 646px;
        }

        &::after {
            content: url(../img/background/our-contacts.png);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__body {
        position: relative;
        display: flex;
        z-index: 2;
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 0px 4vw;
        flex-wrap: wrap;

        @media (max-width:1150px) {
            padding: 0;
        }
    }

    &__menu {
        flex: 1 1 50%;
        position: relative;
        background-color: #F9F9F9;
        padding: 100px 164px 111px 101px;

        &::after {
            content: url(../img/contacts/phone.png);
            position: absolute;
            top: 20%;
            right: -10%;

            @media (max-width:1150px) {
                content: url(../img/contacts/phone-small.png);
                top: 80%;
                right: 5%;
            }
        }

        @media (max-width:1150px) {
            flex: 1 1 100%;
            padding: 100px 30px 111px 30px;

        }
    }

    &__title {
        color: #292D32;
        margin: 0px 0px 18px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 100%;

        @media (max-width:1150px) {
            font-size: 30px;
            white-space: nowrap;
        }
    }

    &__sutitle {
        color: #838383;
        margin: 0px 0px 52px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    &__item {
        display: flex;
        margin: 0px 0px 47px 0px;

        &:last-child {
            margin: 0px 0px 60px 0px;
        }
    }

    &__item-img {
        margin: 0px 23px 0px 0px;

        img {
            width: 100%;
        }
    }

    &__item-content {}

    &__item-title {
        color: #838383;
        margin: 0px 0px 8px 0px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }

    &__item-description {
        color: #292D32;
        max-width: 358px;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;

        @media (max-width:1150px) {
            font-size: 18px;
        }
    }

    &__social {
        display: flex;
    }

    &__social-item {
        margin: 0px 18px 0px 0px;
    }

    &__bid {
        flex: 1 1 50%;
        background-color: #292D32;
        padding: 100px 137px 103px 129px;

        @media (max-width:1150px) {
            padding: 100px 30px 103px 30px;
        }
    }
}

.bid {

    &__title {
        color: #FFFFFF;
        margin: 0px 0px 18px 0px;
        font-size: 50px;
        font-weight: 400;
        line-height: 100%;
    }

    &__subtitle {
        color: #FFFFFF;
        margin: 0px 0px 53px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    &__form {}

    &__form-item {
        position: relative;
        margin: 0px 0px 40px 0px;

        &:last-child {
            margin: 0px 0px 57px 0px;
        }
    }

    &__form-label {
        display: block;
        position: absolute;
        color: #F2F2F2;
        background-color: #292D32;
        top: 0;
        left: 27px;
        z-index: 2;
        padding: 0 12px;
        transform: translate(0px, -50%);

        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }

    &__form-input {
        color: #F2F2F2;
        background-color: #292D32;
        width: 100%;
        min-height: 60px;
        padding: 0px 0px 0px 23px;
        border: 1.5px solid rgba(242, 242, 242, 0.5);
        border-radius: 20px;

        font-weight: 300;
        font-size: 18px;
        line-height: 24px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }
    }

    &__form-textarea {
        color: #F2F2F2;
        background-color: #292D32;
        width: 100%;
        min-height: 145px;
        padding: 12px 0px 0px 23px;
        border: 1.5px solid rgba(242, 242, 242, 0.5);
        border-radius: 20px;

        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
    }

    &__link {
        color: #fff;
    }
}

.footer {
    position: relative;

    &::before {
        content: url(../img/background/dell-small.png);
        position: absolute;
        bottom: 31%;
        right: 0;

        @media (max-width:1150px) {
            bottom: 0;
            right: -27%;
            transform: scale(0.5);
        }
    }

    &__body {
        max-width: calc(1400px + 2 * 4vw);
        margin: 0 auto;
        padding: 60px 4vw 40px 4vw;
    }

    &__content {
        position: relative;
        display: flex;
        margin: 0px 0px 40px 0px;
        padding: 0px 0px 60px 0px;
        flex-wrap: wrap;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #E5E5E5;
        }

        @media (max-width:1150px) {
            justify-content: center;
        }
    }

    &__logo {
        margin: 0px 190px 0px 0px;

        @media (max-width:1150px) {
            margin: 0px 0px 28px 0px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        @media (max-width:1150px) {
            flex: 1 1 50%;
        }
    }

    &__item {
        margin: 0px 180px 0px 0px;

        @media (max-width:1150px) {
            margin: 0px 20px 20px 0px;
        }
    }

    &__subcontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.item {

    &__title {
        color: #292D32;
        margin: 0px 0px 15px 0px;
        font-size: 25px;
        font-weight: 400;
        line-height: 29px;

    }

    &__menu {}

    &__list {}

    &__item {
        margin: 0px 0px 10px 0px;

        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    &__link {
        color: #292D32;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }
}

.subcontent {

    &__item {
        margin: 0px 0px 20px 0px;

        &_social {
            img {
                &:first-child {
                    margin: 0px 18px 0px 0px;
                }
            }
        }

        @media (max-width:1150px) {
            &:last-child {
                flex: 1 1 100%;
            }
        }
    }

    &__item-title {
        color: #838383;
        margin: 0px 0px 11px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 133.69%;

        @media (max-width:1150px) {
            margin: 0px 0px 0px 0px;
        }
    }

    &__item-text {
        color: #292D32;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}